.bookmark-button {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: max-content;
  transition: all 0.2s ease;
}

.bookmark-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin-top: 2rem;
}

.name-input-wrapper {
  width: max-content;
}

.completed {
  display: flex;
  align-items: center;
  border: none;
  gap: 2rem;
}

.completed-button {
  background-color: rgb(83, 217, 30);
  width: max-content;
  border: 1px solid #fff;
  padding: none;
}

.completed-button:hover {
  background-color: rgb(83, 217, 30);
}

.completed-button:active {
  background-color: rgb(83, 217, 30);
  opacity: 1;
}

.name-input {
  width: 8rem;
  height: 3rem;
  outline: none;
  border: 1px solid #fac585;
  font-weight: 200;
  font-family: "Open Sans";
  font-size: 1.3rem;
}

.name-input:focus {
  outline: none;
  border: 1px solid #fac585;
  box-shadow: 0 0 10px #fac585;
  transition: all 0.1s ease;
}

.name-input::placeholder {
  font-size: 0.75rem;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  font-family: "Open Sans";
  background-color: #fac585;
  border: 1px solid #fff;
  font-weight: 200;
  text-align: center;
  padding: 0 1rem;
}

.edit-input {
  height: 2.5rem;
  font-size: 1rem;
  width: 8rem;
  border: 1px solid #9b9a9a;
  margin-left: 0;
  margin-right: 0;
}

.edit-input:focus {
  border: 1px solid #9b9a9a;
  box-shadow: 0 0 10px #9b9a9a;
}

.bookmark-btn:hover {
  cursor: pointer;
}

.add-bookmark-button {
  margin-left: 1rem;
  padding: 0 1rem;
}

.edit-button {
  height: 2rem;
  margin-left: 1rem;
  border: 1px solid #9b9a9a;
  color: #9b9a9a;
}

.edit-button:hover {
  background-color: #9b9a9a;
}

.disabled {
  background-color: #fff;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}

.disabled:hover {
  background-color: #fff;
  color: #c8c8c8;
  cursor: auto;
}

.invalid-input:focus {
  border: 1px solid #c43030;
  box-shadow: 0 0 10px #c43030;
}

.filled {
  background-color: #fac585;
  border: 1px solid #fac585;
  color: #fff;
}

.menu-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fac585;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-circle:hover {
  opacity: 0.8;
  cursor: pointer;
}

.menu-circle:active {
  background-color: #c47530;
}

.menu-icon {
  color: #fff;
  font-size: 24px;
}

.bookmark-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75vw;
}

.bookmark-heading {
  margin: 0;
}

.list {
  margin: 0 2rem;
  list-style: none;
  background-color: #fff;
  z-index: 2;
  align-items: center;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  height: 5rem;
  gap: 1rem;
}

.invisible-list {
  display: none;
  width: 0;
  height: 0;
}

.list li {
  font-family: "Open Sans";
  color: #fff;
  font-weight: 200;
  text-align: center;
  padding: 0 1rem;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.item:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

.li-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
}

.icon {
  font-size: 1.3rem;
  color: #fff;
}

.cancel-icon {
  padding: 0 1rem;
  color: #979797;
}

.icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.active {
  background-color: #c47530;
  opacity: 0.8;
}

.bookmark-error {
  position: absolute;
  top: 4.5rem;
  width: max-content;
  height: max-content;
  opacity: 1;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #ffdcaf rgba(243, 243, 243, 0.192);
  overflow: hidden;
}

.scrollable:hover {
  overflow-x: scroll;
}

@media (max-width: 1024px) {
  .item {
    width: max-content;
  }
  .li {
    width: max-content;
  }

  .scrollable:hover {
    overflow-y: scroll;
  }

  .bookmark-block {
    width: 70vw;
  }
}

@media (max-width: 768px) {
  .list li {
    font-size: 1rem;
    width: 5rem;
  }

  .bookmark-block {
    flex-direction: column;
  }

  .bookmark-wrapper {
    flex-direction: column;
  }

  .completed-button {
    margin-right: 2rem;
  }

  .bookmark-input {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  .list {
    flex-direction: column;
    padding: 0 1rem;
    margin: 0;
    height: 7rem;
    width: max-content;
  }

  .mobile-scrollable {
    overflow: hidden;
    overflow-y: scroll;
  }

  .icon {
    padding: 0.5rem;
  }

  .list li {
    padding: 0.5rem;
    width: 40vw;
    font-size: 1.4rem;
  }

  .bookmark-heading {
    margin-bottom: 1rem;
  }

  .creation-time {
    font-size: 0.7rem;
    margin: 0.3rem 0;
  }
}
