.form {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  width: 90vw;
}

.default-button {
  height: 3rem;
  width: 7rem;
  font-size: 1em;
  font-family: "Open Sans";
  outline: none;
  border: 1px solid #fff;
  background-color: #fac585;
  color: #fff;
}

.default-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.test-button {
  background-color: #fff;
  border: 1px solid #fac585;
  color: #c47530;
  transition: all 0.2s ease;
  width: max-content;
}

.test-button:hover {
  background-color: #fac585;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.url-button {
  background-color: #fff;
  color: #c47530;
  border: 1px solid #fac585;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.url-button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.completed {
  background-color: rgb(83, 217, 30);
  color: #fff;
  border: 1px solid #fff;
}

.default-button:active {
  background-color: #c47530;
  opacity: 0.8;
}

.url-button:active {
  background-color: #fff;
}

.disabled {
  background-color: #fff;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}

.disabled:hover {
  background-color: #fff;
  color: #c8c8c8;
  cursor: auto;
}

.invisible {
  display: none;
}

/* Mobile styles */
@media (max-width: 767px) {
  .buttons {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }

  .form {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .buttons {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
}
