body {
  margin: 0;
  padding: 0;
}

.header {
  height: 10rem;
  background-color: #fac585;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bookmarks-header-block {
  background-color: #85bafa;
}

.bookmarks-header {
  padding: 0 1rem;
}

.auto-type {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #fff;
  width: max-content;
  white-space: pre;
}

.subtext {
  font-size: 25px;
  margin-left: 0.5rem;
  color: #fff;
}

.colored {
  color: #e65c00;
  opacity: 0.5;
}

.custom-cursor {
  display: inline-block;
  width: 5px;
  height: 30px;
  background-color: #fff;
}

/* Mobile styles */
@media (max-width: 767px) {
  .auto-type {
    font-size: 2.5rem;
  }

  .subtext {
    font-size: 1rem;
  }
}
