html body {
  min-width: 270px;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 270px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  height: fit-content;
}

.invisible {
  display: none;
}

.main-app {
  width: 100vw;
}

.result-on {
  width: 30vw;
}

.short-width-textarea {
  width: 30vw;
}

.result-off {
  width: 50vw;
}

.application {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bookmarks-part {
  width: 30vw;
  border: 1px solid #85bafa;
  border-top: none;
  height: 96vh;
  overflow: hidden;
}

.active-part {
  box-shadow: 0 0 10px #85bafa;
}

.result-block {
  border-top: none;
  height: 96vh;
  width: 80vw;
  background-color: #fff;
  border: 1px solid #68a7ac;
  border-top: none;
  transition: all 50ms ease;
}

.short-result-area {
  width: 40vw;
}

@media (max-width: 800px) {
  .bookmarks-part {
    display: none;
  }

  .application {
    flex-direction: column;
  }

  .textarea {
    width: 90vw;
  }

  .result-block {
    display: flex;
    align-self: center;
    width: 90vw;
    height: max-content;
    margin-bottom: 1rem;
    border: 1px solid #fac585;
  }
}
